DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=TheSevenTactics
DB_CHARSET=utf8

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=3600

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

ENV=development
